@import "fonts";
@import "vars";
@import "global";

//start header

.header__top-inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 90px;
}

.header__text {
 margin-left: auto;
 margin-right: 50px;

 span {
  color: $red;
 }
}

.header__btn {
 padding: 4px;
 width: 72px;
 color: #fff;
 text-align: center;
 font-size: 12px;
 border-radius: 4px;
}

.header__btn-login {
 background-color: $green;
}

.header__btn-Register {
 background-color: $red;
 margin-left: 7px;
}

.header__menu {
 background-color: $bg;
}

.menu {
 display: flex;
 align-items: center;
 height: 60px;
}

.menu__list {
 li {
  display: inline-block;

  & + li {
   margin-left: 30px;
  }
 }

 a {
  color: #fff;
  font-size: 14px;
 }
}

//end header
//start search

.search {
 min-height: 530px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.search__inner {
 padding: 155px 0 100px;
 color: #fff;
 text-align: center;

 &-title {
  margin-bottom: 10px;
  font-size: 48px;
  @include f700;
  line-height: 72px;
 }

 &-text {
  @include f500;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 30px;
 }

 &-form {
  max-width: 670px;
  margin: 0 auto;
  position: relative;

  input {
   border-radius: 4px;
   box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
   display: block;
   width: 100%;
   border: none;
   height: 56px;
   font-size: 14px;
   @include f500;
   padding-left: 25px;
   padding-right: 60px;

   &::placeholder {
    color: #90a4ae;
    font-weight: 500;
   }
  }

  button {
   position: absolute;
   border: none;
   background-color: transparent;
   right: 20px;
   top: 16px;
  }
 }
}

//end search
//start products

.products {
 padding: 110px 0;
 background-color: $grey;
}

.products__inner-btn {
 text-align: center;
 margin-bottom: 60px;

 button {
  padding: 12px 21px;
  color: $bg;
  background-color: #fff;
  border: none;
  cursor: pointer;

  & + button {
   margin-left: 5px;
  }

  &.mixitup-control-active {
   background-color: $red;
   color: #fff;
  }
 }
}

.products__inner-box {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.product__item {
 max-width: 442px;
 width: 100%;
 box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
 margin-bottom: 30px;

 &-img {
  min-height: 250px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: cover;
 }

 &-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  min-height: 90px;
  @include f500;
  border-bottom: 1px solid #e7ecf2;
 }

 &-name {
  max-width: 310px;
 }

 &-title {
  font-size: 18px;
  @include f500;
  color: $bg;
  display: block;
 }

 &-category {
  display: block;
  color: $green;
 }

 &-price {
  color: $bg;
  @include f700;
  font-size: 20px;
 }

 &-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 30px;
 }

 &-author {
  display: flex;
  align-items: center;
  max-width: 245px;

  .avatar {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 10px;
  }

  span {
   font-size: 14px;
   @include f500;
  }
 }

 &-star {
  font-size: 12px;

  span {
   color: $bg;
  }
 }
}

.products__bottom-btn {
 text-align: center;

 button {
  box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
  margin: 45px 5px 0;
  padding: 20px 30px;
  color: $bg;
  background-color: #fff;
  border: none;
  cursor: pointer;

  &.mixitup-control-active {
   background-color: $red;
   color: #fff;
  }
 }
}

//end products
//start product__slider

.product__slider {
 padding: 110px 0 100px;

 .slick-dots {
  text-align: center;
  margin-top: 50px;

  li {
   display: inline-block;
   margin-left: 3px;
   margin-right: 3px;

   &.slick-active {
    button {
     background-color: $green;
    }
   }

   button {
    border-radius: 50%;
    background-color: rgb(232, 232, 232);
    border: none;
    width: 16px;
    height: 16px;
    font-size: 0;
    cursor: pointer;

    &.slick-active {
     background-color: #8bc34a;
    }
   }
  }
 }
}

//end product__slider
//start advantages

.advantages {
 background-color: $bg;
 padding: 110px 0;
}

.advantages__title {
 color: #fff;
 margin-bottom: 75px;
}

.advantages__inner {
 display: flex;
 justify-content: space-between;
}

.advantages__item {
 max-width: 370px;
 text-align: center;
 padding: 0 15px;

 &:hover {
  .advantages__item-images {
   background-color: $green;
  }

  .advantages__item-title {
   color: $green;
  }

  .advantages__item-images {
   g {
    fill: #fff;
   }
  }
 }

 &-images {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  transition: all .5s;
 }

 &-title {
  @include f500;
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
  transition: all .5s;
 }

 &-text {
  color: #b0bec5;
  font-size: 14px;
 }
}

.icosvg-1 {
 svg {
  width: 53px;
 }
}

.icosvg-2 {
 svg {
  width: 73px;
 }
}

.icosvg-3 {
 svg {
  width: 84px;
 }
}

//end advantages
//start tutorial

.tutorial {
 padding: 70px 0 120px;

 &__inner {
  display: flex;
  justify-content: space-between;
 }

 &__item {
  max-width: 370px;
  width: 100%;

  &-images {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 270px;
  }

  &-title {
   @include f700;
   font-size: 24px;
   padding: 30px 10px;
   text-align: center;
   background-color: #f8f8f8;
   color: $bg;
  }
 }
}

//end tutorial
//start footer

.footer {
 background-color: $bg;

 &__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px;
 }
}

.footer__copy {
 border-top: 1px solid #424d53;
}

.footer__copy-text {
 font-size: 15px;
 color: #919699;
 padding: 25px 0;
 text-align: center;
}

.footer__col {
 max-width: 270px;
 width: 100%;

 &-menu {
  max-width: 220px;
 }

 &-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;

  &::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 2px;
   width: 51px;
   height: 3px;
   background-color: $green;
  }
 }

 &-text {
  color: #b7c3c8;
  margin-bottom: 30px;
 }
}

.footer__info {
 margin-top: 18px;
 @include f500;
 color: #fff;
 padding-left: 30px;
 position: relative;

 &::before {
  content: '\e947';
  font-family: icomoon;
  color: $green;
  position: absolute;
  font-size: 18px;
  left: 0;
 }
}

.footer__info-phone {
 &::before {
  content: '\e942';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
}

.footer__col-list {
 a {
  color: #919699;
  margin-bottom: 13px;
  padding-left: 20px;
  position: relative;

  &::before {
   content: '\f105';
   font-family: icomoon;
   color: $green;
   font-size: 18px;
   left: 0;
   position: absolute;
  }
 }
}

.footer__social-link {
 margin-bottom: 33px;

 li {
  display: inline-block;

  & + li {
   margin-left: 7px;
  }
 }

 a {
  width: 28px;
  height: 28px;
  background-image: url("../../images/css_sprites.png");
 }
}

.link__twitter {
 background-position: -28px -28px;
}

.link__youtube {
 background-position: -28px -0;
}

.link__pinterest {
 background-position: -56px 0;
}

.link__linledin {
 background-position: -0 -28px;
}

.footer__form-title {
 color: #fff;
 font-size: 20px;
 margin-bottom: 15px;
}

.footer__form {
 form {
  display: flex;
 }

 input {
  background-color: #2f3c43;
  color: #fff;
  padding-right: 50px;
  padding-left: 13px;
  height: 40px;
  border: none;
  width: calc(100% - 44px);

  &::placeholder {
   color: #697378;
  }
 }

 button {
  width: 44px;
  height: 40px;
  background-color: $green;
  cursor: pointer;
  border: none;
  position: relative;
  &::after{
   content: '\f124';
   font-family: icomoon;
   color: #fff;
   font-size: 20px;
   width: 17px;
   height: 17px;
  }
 }

}

//end footer